<h1>
    **** Contact : I-GALLA ****
</h1>

<main class="container">
    <h2>Vous pouvez me contacter sur : </h2>
    <ul>
        <li><a href="mailto:lmontaigut@gmail.com">test@test.com</a></li>
        <li> 06.66.66.66.66 </li>
        <li><a href="https://github.com/I-GALLA">https://github.com/I-GALLA</a></li>
    </ul>
</main>